<div class="main pr-5 pt-2 pb-3 w-100" style="padding-left: 140px;">
    <div clarr="row">
        <p class="breadcrumbs">{{'MATERIAL_MNG.purchases' | translate}} > {{'MATERIAL_MNG.purchase_orders' | translate}}
        </p>
        <p class="option">{{'MATERIAL_MNG.material_management' | translate | uppercase}}</p>
    </div>
    <div class="row">
        <div class="col-md-6 float-left">
            <p class="application">{{'MATERIAL_MNG.purchase_orders' | translate}}</p>
            <p class="app_description">You're configuring the user roles of your Robomap application.</p>
        </div>
        <div class="col-md-6 float-right">
            <button class="float-right mb-3 mt-3" (click)="openCreatePurchaseOrder()" mat-raised-button>
                <mat-icon>add</mat-icon>&nbsp;&nbsp;{{'MATERIAL_MNG.create' | translate | uppercase}}
            </button>
        </div>
    </div>

    <hr class="hrtop">
    <mat-icon>autorenew</mat-icon>&nbsp;&nbsp;
    <mat-icon>delete</mat-icon>&nbsp;&nbsp;
    <mat-icon>share</mat-icon>&nbsp;&nbsp;
    <hr class="hrbottom">

    <mat-form-field style="float:right;font-size:12px">
        <mat-icon style="margin-right:15px" matPrefix>search</mat-icon>
        <input matInput type="search" placeholder="{{'MATERIAL_MNG.search' | translate}}" class="search-input">
    </mat-form-field>
    
    <div fxFlexFill fxLayout="column">

        <div fxFlex="grow">
            <table style="width:100%" mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="check">
                    <mat-header-cell *matHeaderCellDef style="color:transparent">-</mat-header-cell>
                    <mat-cell *matCellDef="let purchaseorder"><mat-checkbox></mat-checkbox>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <mat-header-cell *matHeaderCellDef>{{'MATERIAL_MNG.edit' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let purchaseorder" (click)="openEditPurchaseOrder(purchaseorder)">
                        <mat-icon style="color: #6200EE;">create</mat-icon>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="project_num">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'MATERIAL_MNG.project_number' | translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let purchaseorder" (contextmenu)="onRightClick($event, purchaseorder)">
                        {{purchaseorder.project_num}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="order_num">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'MATERIAL_MNG.purchase_num' | translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let purchaseorder" (contextmenu)="onRightClick($event, purchaseorder)">
                        {{purchaseorder.order_num}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="total_price">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'MATERIAL_MNG.price_sin_iva' | translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let purchaseorder" (contextmenu)="onRightClick($event, purchaseorder)">
                        {{purchaseorder.total_price}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="state">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'MATERIAL_MNG.state' | translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let purchaseorder" (contextmenu)="onRightClick($event, purchaseorder)">
                        <span *ngIf="purchaseorder.state == 0">{{'MATERIAL_MNG.in_route' | translate}}</span>
                        <span *ngIf="purchaseorder.state == 1">{{'MATERIAL_MNG.incomplete' | translate}}</span>
                        <span *ngIf="purchaseorder.state == 2">{{'MATERIAL_MNG.received' | translate}}</span></mat-cell>
                </ng-container>

                <ng-container matColumnDef="created_at">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'MATERIAL_MNG.po_date' | translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let purchaseorder" (contextmenu)="onRightClick($event, purchaseorder)">
                        {{purchaseorder.created_at}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="view">
                    <mat-header-cell *matHeaderCellDef>{{'MATERIAL_MNG.view' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let purchaseorder" (click)="openViewPurchaseOrder(purchaseorder)">
                        <mat-icon style="color: #6200EE;">visibility</mat-icon>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
                <mat-row *matRowDef="let purchaseorder; columns: columnsToDisplay"></mat-row>
            </table>
        </div>

        <div fxFlex fxLayoutAlign="center end">
            <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[25,50,100,150]"
                [showFirstLastButtons]="true" [length]="totalSize" [pageIndex]="currentPage"
                (page)="pageEvent = handlePage($event)">
            </mat-paginator>
        </div>

    </div>

</div>


<app-context-menu [matMenuTriggerFor]="options" #contextMenu>
    <mat-menu #options="matMenu">
        <ng-template matMenuContent let-item="item">
            <span>
                <button mat-menu-item (click)="openViewPurchaseOrder(item)">
                    <mat-icon>search</mat-icon>
                    <span>{{ 'MATERIAL_MNG.view' | translate }}</span>
                </button>
                <button mat-menu-item (click)="openEditPurchaseOrder(item)">
                    <mat-icon>edit</mat-icon>
                    <span>{{ 'MATERIAL_MNG.edit' | translate }}</span>
                </button>
                <button mat-menu-item (click)="openDeletePurchaseOrder(item)">
                    <mat-icon>delete</mat-icon>
                    <span>{{ 'MATERIAL_MNG.delete' | translate }}</span>
                </button>
            </span>
        </ng-template>
    </mat-menu>
</app-context-menu>