<!-- About -->

<!-- Mat Dialog Content -->
<mat-dialog-content class="mat-dialog-about">
    <!-- Title -->
    <h1 class="header-modal">About</h1>

    <!-- Information -->
    <p>Copyright © 2022 Robomap Inc. Neuraflow V0.0. Todos los derechos reservados. Política de privacidad Uso de cookies Condiciones de uso Ventas y reembolsos Avisos legales.</p>

    <!-- Close Button -->
    <div style="float:right" mat-dialog-actions>
        <button class="buttons-modal" [ngClass]="mobileClass('button')" mat-raised-button (click)="onNoClick()">Close</button>
    </div>
</mat-dialog-content>


