<h1 mat-dialog-title>{{ 'DELETE_ROLE.title' | translate }}</h1>
<div mat-dialog-content>
    <h4 class="mat-h4">{{ 'DELETE_ROLE.question' | translate }} {{ this.role.name }} ?</h4>
    <h4 class="mat-h4">{{ 'DELETE_ROLE.select_new' | translate }}</h4>
    <mat-form-field class="full" required>
        <mat-select placeholder="{{ 'DELETE_ROLE.select_placeholder' | translate }}"
                    (change)="changeNewRole()">
            <mat-option *ngFor="let newRole of rolesAvailable"
                        [value]="newRole.id">
                {{newRole.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<mat-divider></mat-divider>

<div mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()">{{ 'DELETE_ROLE.cancel' | translate }}</button>
    <button mat-raised-button
            color="primary"
            (click)="onDeleteClick()"
            >
        {{ 'DELETE_ROLE.delete' | translate }}
    </button>
</div>
