<h1 class="header-modal" mat-dialog-title *ngIf="this.create == true">{{ 'MATERIAL_MNG.create' | translate }}</h1>
<h1 class="header-modal" mat-dialog-title *ngIf="this.create == false && this.edit == true">{{ 'MATERIAL_MNG.edit' | translate }}</h1>
<h1 class="header-modal" mat-dialog-title *ngIf="this.create == false && this.edit == false">{{ 'MATERIAL_MNG.detail' | translate }}</h1>
<div mat-dialog-content>
  <h5>{{ 'MATERIAL_MNG.information' | translate }}</h5>
  <mat-form-field class="mr-3" [ngClass]="mobileClass('field')">
    <input matInput type="text" required [disabled]="!edit" [(ngModel)]="category.name"
      placeholder="{{ 'MATERIAL_MNG.name' | translate }}">
  </mat-form-field>
  <mat-form-field class="mr-3" [ngClass]="mobileClass('field')">
    <input matInput type="text" required [disabled]="!edit" [(ngModel)]="category.description"
      placeholder="{{ 'MATERIAL_MNG.description' | translate }}">
  </mat-form-field>
  <br>
  <mat-form-field class="mr-3 angularformcss no-line" floatLabel="never">
    <img matPrefix class="input-icon" src="{{category.image}}" width="100px">
    <input class="d-none" type="text" matInput [disabled]="!edit" [(ngModel)]="category.image"
      placeholder="{{category.image}}">
  </mat-form-field>
</div>

<mat-divider></mat-divider>

<div style="float:right" mat-dialog-actions>
  <button class="buttons-modal" [ngClass]="mobileClass('button')" mat-raised-button (click)="onNoClick()">{{
    'MATERIAL_MNG.cancel' | translate
    }}</button>
  <button class="buttons-modal" [ngClass]="mobileClass('button')" mat-raised-button color="primary" *ngIf="edit"
    (click)="onCreateClick()">{{
    'MATERIAL_MNG.save' | translate }}</button>
  <button class="buttons-modal" [ngClass]="mobileClass('button')" mat-raised-button color="primary"
    *ngIf="!edit && canWrite(MODULE_USERS)" (click)="onClickEdit()">{{ 'MATERIAL_MNG.edit' | translate }}</button>
</div>