<div class="main pr-5 pt-2 pb-3 w-100" style="padding-left: 140px;">
    <div clarr="row">
        <p class="option">{{'DASHBOARD.general_config' | translate | uppercase}}</p>
    </div>
    <div class="row">
        <div class="col-md-6 float-left">
            <p class="application">{{'COMPANY.companies' | translate}}</p>
            <p class="app_description">You're configuring the user roles of your Robomap application.</p>
        </div>
        <div class="col-md-6 float-right">
            <button (click)="openCreateCompany()" class="mat-raised-button float-right mb-3 mt-3" mat-raised-button>
                <mat-icon>add</mat-icon>&nbsp;&nbsp;{{'MATERIAL_MNG.create' | translate | uppercase}}
            </button>
        </div>
    </div>

    <hr class="hrtop">
    <mat-icon>autorenew</mat-icon>&nbsp;&nbsp;
    <mat-icon>delete</mat-icon>&nbsp;&nbsp;
    <mat-icon>share</mat-icon>&nbsp;&nbsp;
    <hr class="hrbottom">

    <mat-form-field style="float:right;font-size:12px">
        <mat-icon style="margin-right:15px" matPrefix>search</mat-icon>
        <input matInput type="search" placeholder="{{'MATERIAL_MNG.search' | translate}}" class="search-input">
    </mat-form-field>

    <div fxFlexFill fxLayout="column">
        <div fxFlex="grow">
            <table style="width:100%" mat-table [dataSource]="dataSource" matSort>
                
                <ng-container matColumnDef="check">
                    <mat-header-cell *matHeaderCellDef style="color:transparent">-</mat-header-cell>
                    <mat-cell *matCellDef="let company"><mat-checkbox></mat-checkbox>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <mat-header-cell *matHeaderCellDef>{{'MATERIAL_MNG.edit' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let company" (click)="openEdit(company)">
                        <mat-icon style="color: #6200EE;">create</mat-icon>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMPANY_DIALOG.name' | translate}} </mat-header-cell>
                    <mat-cell *matCellDef="let company"> {{company.name}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nif">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMPANY_DIALOG.nif' | translate}} </mat-header-cell>
                    <mat-cell *matCellDef="let company"> {{company.NIF}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMPANY_DIALOG.email' | translate}} </mat-header-cell>
                    <mat-cell *matCellDef="let company"> {{company.email}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="phone">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMPANY_DIALOG.phone' | translate}} </mat-header-cell>
                    <mat-cell *matCellDef="let company"> {{company.phone}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="address">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMPANY_DIALOG.address' | translate}} </mat-header-cell>
                    <mat-cell *matCellDef="let company"> {{company.address}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="view">
                    <mat-header-cell *matHeaderCellDef>{{'MATERIAL_MNG.view' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let company" (click)="openView(company)">
                        <mat-icon style="color: #6200EE;">visibility</mat-icon>
                    </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
                <mat-row *matRowDef="let company; columns: columnsToDisplay"></mat-row>
            </table>
        </div>

        <div fxFlex fxLayoutAlign="center end">
            <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[25,50,100,150]"
                [showFirstLastButtons]="true" [length]="totalSize" [pageIndex]="currentPage"
                (page)="pageEvent = handlePage($event)">
            </mat-paginator>
        </div>

    </div>

    <app-context-menu [matMenuTriggerFor]="options" #contextMenu>
        <mat-menu #options="matMenu">
            <ng-template matMenuContent let-item="item">
                <span (mouseleave)="contextMenu.closeMenu()">
                    <button mat-menu-item (click)="openView(item)" *ngIf="canRead(MODULE_COMPANIES)">
                        <mat-icon>search</mat-icon>
                        <span>{{ 'COMPANY.view' | translate }}</span>
                    </button>
                    <button mat-menu-item (click)="openEdit(item)" *ngIf="canWrite(MODULE_COMPANIES)">
                        <mat-icon>edit</mat-icon>
                        <span>{{ 'COMPANY.edit' | translate }}</span>
                    </button>
                    <button mat-menu-item (click)="openDelete(item)" *ngIf="canAdmin(MODULE_COMPANIES)">
                        <mat-icon>delete</mat-icon>
                        <span>{{ 'COMPANY.delete' | translate }}</span>
                    </button>
                </span>
            </ng-template>
        </mat-menu>
    </app-context-menu>
</div>