.main {
    transition: margin-left .5s;
    padding: 20px;
    margin-top:100px;
}

*:focus{
    outline: none !important;
  }

  .main {
    transition: margin-left 0.5s;
    padding: 20px;
    margin-top: 100px;
  }

  mat-icon:hover {
    cursor: pointer;
  }

  a{
    color: #6200EE;
  }

  p.application{
    font-family: 'Roboto Mono', monospace;
    font-size: 45px;
    line-height: 25px;
    margin-bottom:20px;
  }

  p.app_description{
    margin-bottom: 20px;
    font-weight: 200;
  }

  p.option{
    margin-top: 20px;
    font-weight: bold;
  }

  p.breadcrumbs{
    color: #6200EE;
    font-size: 15px;
  }

  .hrtop{
    margin-top: 30px !important;
    margin-bottom: 50px !important;
  }

  .example-card {
    max-width: 400px;
  }

  mat-icon{
    margin-left:90px;
    margin-top:-19px;
    color: #BB86FC;
  }
